<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>{% block title %}{% endblock %}</title>


    <style>
        table {
            border: medium solid #000000;
            width: 50%;
        }
        td, th {
            border: thin solid #6495ed;
            width: 50%;
        }
    </style>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<section id="{{ app.request.attributes.get("_route") }}" class="body">
    {% block body %}
    {% endblock %}
</section>

{% block javascripts %}
{% endblock %}

</body>
</html>
